{% extends 'dashboard/base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block css %}
  <style type="text/css">
    li {
      padding-bottom: 8px;
    }
  </style>
{% endblock css %}



{% block content %}
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-12">
        <h3>Change Password</h3>
        <p class="lead text-dark">You can easily change to a new password</p>
        <div class="card-deck my-4">
          <div class="card col-sm-6 mb-4 shadow">
            <div class="card-body my-4">
              <form action="." method="POST">{% csrf_token %}
                <div class="row mb-4">
                  <div class="col-md-12">
                    {{ form|crispy }}
                  </div>
                  <!-- <div class="col-md-6">
                    <p class="mb-2">Password requirements</p>
                    <p class="small text-muted mb-2"> To create a new password, you have to meet all of the following requirements: </p>
                    <ul class="small text-muted pl-4 mb-0">
                      <li> Minimum 8 character </li>
                      <li>At least one special character</li>
                      <li>At least one number</li>
                      <li>Can’t be the same as a previous password </li>
                    </ul>
                  </div> -->
                </div>
                <button type="submit" class="btn btn-orange">Save Change</button>
              </form>
            </div> <!-- .card-body -->
          </div>
          <!-- .card -->
        </div> <!-- .card-group -->
      </div> <!-- /.col -->
    </div> <!-- .row -->
  </div> 
{% endblock content %}




