{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}


{% block title %}Login {% endblock title %}


{% block content %}
<div class="login-box">
  <div class="login-logo mb-4">    
    <!-- <a href="{% url 'home' %}"><img src="{% static 'registration/dist/img/logo.png' %}" height="60" alt="logo" /></a> -->
    <a href="{% url 'home' %}"><h1 class="text-orange">CME</h1></a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <h5 class="text-center text-uppercase">PASSWORD RESET</h5><br>
      <p class="login-box-msg">A password reset link was sent. Click the link in the email to create a new password.</p>
      

      <div class="social-auth-links text-center mb-3">
        <!-- <p>- OR -</p> -->
        <!-- <a href="#" class="btn btn-block btn-primary">
          <i class="fa fa-lock mr-2"></i> Login
        </a> -->
      </div>
      <!-- /.social-auth-links -->

      <!-- <p class="mb-1">
        <a href="#">I forgot my password</a>
      </p> -->
      <p class="mb-0 text-center">
        <a href="{% url 'accounts:login' %}" class="text-center text-orange">Login</a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->
{% endblock content %}