{% load i18n %}
{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <title>CME - Online Trading Academy</title>

    <!-- {# <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.ico' %}"> #} -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/logo.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap4/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
    
    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/templatemo-scholar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/animate.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/swiper-bundle.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/pricing_table.css' %}">
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'assets/css/plans.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/custom.css' %}">
    <!-- {#<link rel="stylesheet"href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>#} -->

    <style type="text/css">
      @keyframes slideIn {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }

      #alertList {
        list-style-type: none;
        margin: 0;
        padding: 0;
        white-space: nowrap; /* Ensure list items stay in a single line */
        animation: slideIn 30s linear infinite; /* Adjust duration and timing function as needed */
      }

      #alertList li {
        display: inline-block;
      }

      #alertList li img {
        width: unset;
      }

    </style>
    
    {% block css %}
    {% endblock css %}
  </head>

<body>


  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->




  {% include 'inlines/messages.html' %}

  

  {% block content %}
 



  {% endblock content %}



  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- {# <script src="{% static 'vendor/bootstrap4/popper.js' %}"></script> #} -->
  <!-- <script src="{% static 'vendor/bootstrap4/bootstrap.min.js' %}"></script> #} -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/isotope.min.js' %}"></script>
  <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
  <script src="{% static 'assets/js/counter.js' %}"></script>
  <script src="{% static 'assets/js/custom.js' %}"></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
    var alertNavbar = document.getElementById("alertNavbar");

    if (alertNavbar && alertNavbar.innerHTML.trim() !== "No data yet") {
      alertNavbar.classList.add("slide-in");

      // Clone the alert navbar content to create continuous sliding effect
      var clone = alertNavbar.cloneNode(true);
      alertNavbar.parentNode.appendChild(clone);

      // // Remove the original alert navbar after animation starts
      // alertNavbar.addEventListener("animationstart", function() {
      //   alertNavbar.parentNode.removeChild(alertNavbar);
      // });
    }
  });



  </script>

  {% block script %}
  {% endblock script %}

  </body>
</html>