{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}




  {% block content %}
 

    {% include 'inlines/header-pages.html' %}


	<div class="section text">
		<div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="section-heading">
						<h2><span>CME Financial Disclaimer / Warning</span></h2>
            <p>Please be advised that no individual or party inside "CME Academy Discord" is a professional advisor in business areas involving finance, cryptocurrency, taxation, securities and commodities trading, or the practice of law.</p>
            <p>The information and content written, broadcasted, and/or disseminated by and through " CME Academy " or "Team Members" is intended for general purposes only.</p>
            <p>Before using our platform you agree to the below.</p>
            <p>Nothing written or discussed is intended to be construed, or relied upon, as investment, financial, legal, regulatory, accounting, tax or similar advice, nor should it be. All content expressed, created, and conveyed by "CME Academy" is premised upon subjective opinions pertaining to currently-existing facts readily available.</p>
            <p>All Content on this Community Platform is information of a general nature and does not address the circumstances of any particular individual or entity. Nothing in the Discord constitutes professional and/or financial advice, nor does any information on the Site constitute a comprehensive or complete statement of the matters discussed or the law relating thereto. CME Academy is not a fiduciary by virtue of any person’s use of or access to the Site or Content.</p>
            <p>You alone assume the sole responsibility of evaluating the merits and risks associated with the use of any information or other Content in our community before making any decisions based on such information or other Content.</p>
            <p>In exchange for using the "CME Academy Discord", you agree not to hold "CME Academy, and or its affiliates or any third party service provider liable for any possible claim for damages arising from any decision you make based on information or other Content made available to you through the CME Academy.</p>
          </div>
        </div>
      </div>
		</div>
	</div>




    {% include 'inlines/footer.html' %}



  {% endblock content %}
	
	


