{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% load humanize %}




  {% block content %}
 

    {% include 'inlines/header-pages.html' %}


	<div class="section text">
		<div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="section-heading">
              	<h2><span>Terms &amp; Conditions</span></h2>
								<h4>Service Overview</h4>

								<p>At CME, we take great pride in offering top-quality educational content, personalized support, and a nurturing community, all designed to help our students flourish. We warmly encourage prospective students to thoughtfully consider their commitment to their educational journey before applying. CME is specifically crafted for individuals who are dedicated to investing time and effort in order to achieve tangible results, rather than for those who merely wish to "try out" our offerings.</p>

								<h4>Your Membership</h4>

								<p>Your membership includes access to an exclusive server for education, mentorship and a positive community to network within.</p>

								<p>By placing your monthly recurring order of CME you will be charged the specified amount now and every 30 days thereafter until you cancel your subscription. You will receive an electronic receipt after each successful transaction.</p>

								<h4>Personal Information</h4>

								<p>We do not collect personal information beyond the user name and email address you provide. We do not share this information with any third parties. All reasonable practices are in place to ensure confidential storage and handling of personal information. You understand that your content (not including credit card information), may be transferred unencrypted and involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices. We do not have access to your credit card information; this is managed by our payment gateway providers.</p>

								<p>All credit/debit cards details and personally identifiable information will NOT be stored, sold, shared, rented or leased to any third parties</p>

								<p>The Website Policies and Terms & Conditions may be changed or updated occasionally to meet the requirements and standards. Therefore the Customers’ are encouraged to frequently visit these sections in order to be updated about the changes on the website. Modifications will be effective on the day they are posted</p>

								<h4>Method of Payment, Card Types accepted and Currency</h4>

								<p>We accept payments online using Visa and MasterCard credit/debit card in USD (or any other agreed currency)</p>

								<h4>Delivery & Shipping Policy</h4>

								<p>CME will NOT deal or provide any services or products to any of OFAC (Office of Foreign Assets Control) sanctions countries in accordance with the law of Delaware and US</p>

								<h4>Refund/Return Policy</h4>

								<p>As a general principle, we kindly inform you that we do not offer refunds on any of our products or services. This policy is in place due to the digital nature of our resources and the significant investment we make in creating, maintaining, and delivering top-notch content.</p>

								<h4>Exceptional Circumstances</h4>

								<p>We understand that life can be unpredictable, and exceptional circumstances may arise that warrant consideration on a case-by-case basis. If you believe your situation calls for an exception to our refund policy, please don't hesitate to contact our caring support team at <a href="{% url 'contact:contact' %}">https://cmetradingacademy.com/contact</a>.</p>

								<h4>Cancellation & Replacement Policy</h4>

								<p>You can cancel your CME membership at any time by logging to your membership portal and changing your preference.</p>

								<h4>Refusal of Service</h4>

								<p>We reserve the right to refuse service to anyone for any reason at any time.</p>

								<h4>Intellectual Property</h4>

								<p>You agree not to reproduce, duplicate, copy, or resell any part of CME information and services, without express written permission by us.</p>

								<h4>User Generated Content Policy</h4>
								<br>

								<h6>No Tolerance for Objectionable Content</h6>

								<p>'CME' strictly prohibits the upload, distribution, or dissemination of any content that is unlawful, defamatory, obscene, pornographic, indecent, lewd, threatening, abusive, inflammatory, or otherwise objectionable.</p>
								<p>We reserve the right to review and remove any User Generated Content that violates these guidelines or the spirit of these guidelines without prior notice.</p>

								<h6>Content Moderation and Reporting</h6>

								<p>'CME' employs a combination of automated and human content moderation measures to review and filter User Generated Content to ensure compliance with these terms.</p>
								<p>Users may also report objectionable content for review through the platform’s built-in reporting features.</p>

								<h6>Abusive Behavior and Consequences</h6>

								<p>Any form of harassment, abuse, or discrimination towards other users will not be tolerated.
								Violation of these terms will result in immediate corrective action, up to and including account termination.</p>

								<h4>Governing Law & Jurisdiction</h4>

								<p>Any purchase, dispute or claim arising out of or in connection with this website shall be governed and construed in accordance with the laws of Nigeria for Nigerian persons, and the laws of Poland for non-Nigerian persons.</p>

          </div>
        </div>
      </div>
		</div>
	</div>




    {% include 'inlines/footer.html' %}



  {% endblock content %}
	


