{% load i18n %}
{% load static %}
{% load humanize %}




    <div class="section about-us" id="about">
      <div class="container">
        <div class="row">
          <div class="col-md-5 order-sm-2 align-self-center">
            <div class="section-heading">
              <h6>About Us</h6>
              <h2>What make us the best trading academy?</h2>
              <p>We introduce people to the world of trading crypto through our non-drowsy educational content and tools. We're also a community of traders that support each other on our daily trading journey.</p>
            </div>
          </div>
          <div class="col-md-6 order-sm-1 offset-md-1">
            <div class="accordion" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    What is the CME affiliate network?
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    CME Affiliate network is an affiliate marketing platform with over 10,000 qualified affiliates. Anyone can sign up on CME's affiliate network, pick a product from our over 70,000 products on CME, start selling it and you get a commission for every sale you make.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    How is commission determined?
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    Creators on CME determine how much they want affiliates to earn from their product. The affiliate commission is usually between 10% - 50%.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    How can I join the affiliate network?
                  </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    To join the affiliate network, you just have to make a yearly commission of &#8358;2,400. With this you get access to the affiliate network to promote. Click here to join the affiliate network.
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    How soon can I receive my payout?
                  </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    You don’t have to wait every Friday for your payout. For NGN payment, you get your payout 24hrs after a sale has been made, for USD.</code>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

   
