{% load i18n %}
{% load static %}
{% load humanize %}





<div class="section about-us" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-5 order-sm-2 align-self-center">
        <div class="section-heading">
          <h6>About Us</h6>
          <h2>What is CME Academy?</h2>
          <p>Crypto Made Easy (CME) Academy is designed to be a teaching platform and a community full with crypto related resource that allows you and thousands of individuals in the Digital World of Cryptocurrency to connect, communicate, interact and learn with one another and become a better crypto trader. It also represents a world of creativity, our social network engages with users to push a more educated environment.</p>
        </div>
      </div>
      <div class="col-md-6 order-sm-1 offset-md-1">
        <div class="accordion" id="accordionExample">
          <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseZero" aria-expanded="true" aria-controls="collapseZero">
                What is Cryptocurrency?
              </button>
            </h2>
            <div id="collapseZero" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Cryptocurrency is a virtual form of currency that is based on Blockchain technology and is not controlled by any government. Examples of cryptocurrency include Bitcoin, Ethereum, and many others, each with unique features and purposes within the digital financial landscape.
              </div>
            </div>
          </div> -->
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                What is Cryptocurrency?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Cryptocurrency is a virtual form of currency that is based on Blockchain technology and is not controlled by any government. Examples of cryptocurrency include Bitcoin, Ethereum, and many others, each with unique features and purposes within the digital financial landscape.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                What is the uses of Cryptocurrency?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Cryptocurrency is a digital currency for secure, decentralised transactions, enabling swift online payments. It's used for investments and ICO fundraising and as a medium for diverse financial transactions, eliminating traditional banking intermediaries for seamless global transactions and investments.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">          
                Is this course suitable for both short-term and long-term Cryptocurrency Trading?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This course covers comprehensive trading strategies and principles applicable to various trading durations, addressing both short-term trading, which involves taking advantage of price fluctuations within a short period, and long-term trading, which focuses on holding assets for an extended duration to benefit from potential market growth.

              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                What are the benefits of taking this Cryptocurrency Trading Course?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                This course offers enriched market insights, skill enhancement in trading strategies and risk management, and proficient knowledge of market trends. It equips individuals with practical skills for informed and effective cryptocurrency trading.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Will I receive a certificate upon completing the Cryptocurrency Trading Certification Course?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Upon course completion, delegates will receive a certificate validating the skills gained through this course.
              </div>
            </div>
          </div>
          <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                What is the cost/training fees for Cryptocurrency Trading Training certification in Nigeria?
              </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The training fees for Cryptocurrency Trading Training certification in Nigeria starts from NGN20,000
              </div>
            </div>
          </div> -->
          <!-- <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                Which is the best training institute/provider of Cryptocurrency Trading Training in Nigeria?
              </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
              <div class="accordion-body">
                The CME Academy is the Leading global training provider for Cryptocurrency Trading Training.
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
