{% load static %}


<footer class="section"> 
	<div class="container">
	  <div class="col-lg-12">
	    <p>&copy; <script>document.write(new Date().getFullYear());</script> CME Academy. &nbsp;|&nbsp; <span class="small"><a href="{% url 'terms' %}" rel="nofollow">Terms</a> &nbsp;|&nbsp; <a href="{% url 'privacy' %}" rel="nofollow">Policy</a> &nbsp;|&nbsp; <a href="{% url 'disclaimer' %}" rel="nofollow">Disclaimer</a>.</span> <br> Design&nbsp;by&nbsp;<a href="https://www.nakasoft.net" rel="nofollow" target="_blank">Nakasoft</a></p>
	  </div>
	</div>
</footer>
 