{% load i18n %}
{% load static %}
{% load humanize %}



<div class="section testimonials">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 order-sm-2 align-self-center">
          <div class="section-heading">
            <h6>TESTIMONIALS</h6>
            <h2>What they say about us?</h2>
            <p>Your learning is important. It’s a good idea to go through reviews of previous students to make an informed decision.</p>
          </div>
        </div>
        <div class="col-lg-7 order-sm-1">
          <div class="owl-carousel owl-testimonials">
            <div class="item">
              <p>“The course is done very well, it explains the trading concepts well, provides the skills to be able to trade on your own. It was very useful to me. Highly recommended.”</p>
              <div class="author">
                <img src="{% static 'assets/images/avatar-placeholder.jpg' %}" alt="">
                <span class="category">Trader</span>
                <h4>Thomas Jefferson</h4>
              </div>
            </div>
            <div class="item">
              <p>“I just made this course because a friend recommended it and I loved it! I have poor knowledge of the market and investments, and CME helped me a lot. The teacher is also really good.”</p>
              <div class="author">
                <img src="{% static 'assets/images/avatar-placeholder.jpg' %}" alt="">
                <span class="category">Part-Time Nurse</span>
                <h4>Stella Ododo</h4>
              </div>
            </div>
            <div class="item">
              <p>“I had an amazing experience with CME. The course was very detailed and mentors were helpful. I went from knowing nothing about crypto to be able to make winning trades.”</p>
              <div class="author">
                <img src="{% static 'assets/images/avatar-placeholder.jpg' %}" alt="">
                <span class="category">Student</span>
                <h4>Luka Yusuf</h4>
              </div>
            </div>
            <div class="item">
              <p>“I highly recommended CME if you want to learn more about investing and economics. The tutor is knowledgeable and he provides daily life examples, which are easy to understand for a newbie like me.”</p>
              <div class="author">
                <img src="{% static 'assets/images/avatar-placeholder.jpg' %}" alt="">
                <span class="category">IT specialist</span>
                <h4>Betty James</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
